<!-- START PAGE SIDEBAR -->
<div class="page-sidebar">
  <!-- START X-NAVIGATION -->
  <ul class="x-navigation">

      <li class="xn-logo">
          <a href="#" translate>
            {{ 'shared.sidebar.navigation'}}
            <span style='font-size:9px'>{{'shared.sidebar.navigation-version' | translate}} {{version}}</span>
          </a>
          <a href="#" class="x-navigation-control"></a>
      </li>


      <li class="xn-profile">
          <div class="profile">
              <div class="logo-image">
                  <img src="assets/img/cardif.jpg"/>
              </div>
          </div>
      </li>


      <li class="xn-profile">
          <div class="profile">
              <div class="profile-data">
                    <span class="fa fa-user"></span>
                    <div class="profile-data-name">{{userData.username}}</div>
                    <div class="profile-data-title">{{userData.profile}}</div>
              </div>
          </div>
      </li>


      <li routerLinkActive="active" routerLink="/dashboard">
            <a href="#/dashboard">
                <span class="fa fa-home"></span>
                <span class="xn-text" translate>{{'shared.sidebar.navigation-link-dashboard'}}</span>
            </a>
      </li>
      <li routerLinkActive="active" routerLink="/layout" *ngIf="layoutPermissionViewLink()">
            <a href="#/layout/list">
                <span class="fa fa-book"></span>
                <span class="xn-text" translate>{{'shared.sidebar.navigation-link-layouts'}}</span>
            </a>
      </li>      
      <li routerLinkActive="active" routerLink="/process"  *ngIf="processPermissionViewLink()">
            <a href="#/process/list">
                <span class="fa fa-cogs"></span>
                <span class="xn-text" translate>{{'shared.sidebar.navigation-link-process'}}</span>
            </a>
      </li>      
      <li routerLinkActive="active" routerLink="/workflow" *ngIf="approvalPermissionViewLink()">
            <a href="#/workflow/list">
                <span class="fa fa-certificate"></span>
                <span class="xn-text" translate>{{'shared.sidebar.navigation-link-workflow'}}</span>
            </a>
      </li>
      <li routerLinkActive="active" routerLink="/plugin" *ngIf="pluginPermissionViewLink()">
            <a href="#/plugin/list">
                <span class="fa fa-puzzle-piece"></span>
                <span class="xn-text" translate>{{'shared.sidebar.navigation-link-plugin'}}</span>
            </a>
      </li>
      <!--
      <li routerLinkActive="active" routerLink="/reports">
            <a href="#/reports/list">
                <span class="fa fa-bar-chart"></span>
                <span class="xn-text" translate>{{'shared.sidebar.navigation-link-reports'}}</span>
            </a>
      </li>
      -->
      <li routerLinkActive="active">
            <a (click)="openlogout()">
                <span class="fa fa-sign-out"></span>
                <span class="xn-text" translate>{{'shared.sidebar.navigation-link-logoff'}}</span>
            </a>
      </li>


      <li></li>


  </ul>
  <!-- END X-NAVIGATION -->
</div>
<!-- END PAGE SIDEBAR -->
