<div class="row">
  <div class="col-md-12">
             <!-- START HEADING -->
             <h1 class="text-center">Nosso Time</h1>

             <div class="row">
                <div class="col-md-12">
                  <span>&nbsp;</span>
                </div>
              </div>

<div class="row">
    <div class="col-md-3">
      <!-- CONTACT ITEM -->
      <div class="panel panel-default">
          <div class="panel-body profile">
              <div class="profile-image">
                  <img src="assets/images/users/vini.jpg" alt="Nadia Ali"/>
              </div>
              <div class="profile-data">
                  <div class="profile-data-name">Vinicius Braz Pereira</div>
                  <div class="profile-data-title">CTO (Chief Technology Officer)</div>
              </div>
          </div>
          <div class="panel-body">
              <div class="contact-info">
                  <p><small>Graduação</small><br/>Sistemas de Informação.</p>
                  <p>
                    <small>Competências e habilidades:</small><br/>
                    Atua na produção de soluções inovadoras e sistemas complexos a mais de 10 anos. <br/>
                    Responsável por atuar com análises e projeções de sistemas, levantamentos de requisitos e regras de negócio.
                    Experiência em analisar custos, viabilidade técnica, econômica e financeira para a implantação de processos de automação.
                  </p>
                  <p><small>Email</small><br/>vinicius.braz@anvy.com.br</p>
              </div>
          </div>
      </div>
      <!-- END CONTACT ITEM -->
    </div>

    <div class="col-md-3">
      <!-- CONTACT ITEM -->
      <div class="panel panel-default">
          <div class="panel-body profile">
              <div class="profile-image">
                  <img src="assets/images/users/vini.jpg" alt="Nadia Ali"/>
              </div>
              <div class="profile-data">
                  <div class="profile-data-name">Vinicius Braz Pereira</div>
                  <div class="profile-data-title">CTO (Chief Technology Officer)</div>
              </div>
          </div>
          <div class="panel-body">
              <div class="contact-info">
                  <p><small>Graduação</small><br/>Sistemas de Informação.</p>
                  <p>
                    <small>Competências e habilidades:</small><br/>
                    Atua na produção de soluções inovadoras e sistemas complexos a mais de 10 anos. <br/>
                    Responsável por atuar com análises e projeções de sistemas, levantamentos de requisitos e regras de negócio.
                    Experiência em analisar custos, viabilidade técnica, econômica e financeira para a implantação de processos de automação.
                  </p>
                  <p><small>Email</small><br/>vinicius.braz@anvy.com.br</p>
              </div>
          </div>
      </div>
      <!-- END CONTACT ITEM -->
    </div>

    <div class="col-md-3">
      <!-- CONTACT ITEM -->
      <div class="panel panel-default">
          <div class="panel-body profile">
              <div class="profile-image">
                  <img src="assets/images/users/vini.jpg" alt="Nadia Ali"/>
              </div>
              <div class="profile-data">
                  <div class="profile-data-name">Vinicius Braz Pereira</div>
                  <div class="profile-data-title">CTO (Chief Technology Officer)</div>
              </div>
          </div>
          <div class="panel-body">
              <div class="contact-info">
                  <p><small>Graduação</small><br/>Sistemas de Informação.</p>
                  <p>
                    <small>Competências e habilidades:</small><br/>
                    Atua na produção de soluções inovadoras e sistemas complexos a mais de 10 anos. <br/>
                    Responsável por atuar com análises e projeções de sistemas, levantamentos de requisitos e regras de negócio.
                    Experiência em analisar custos, viabilidade técnica, econômica e financeira para a implantação de processos de automação.
                  </p>
                  <p><small>Email</small><br/>vinicius.braz@anvy.com.br</p>
              </div>
          </div>
      </div>
      <!-- END CONTACT ITEM -->
    </div>

    <div class="col-md-3">
      <!-- CONTACT ITEM -->
      <div class="panel panel-default">
          <div class="panel-body profile">
              <div class="profile-image">
                  <img src="assets/images/users/vini.jpg" alt="Nadia Ali"/>
              </div>
              <div class="profile-data">
                  <div class="profile-data-name">Vinicius Braz Pereira</div>
                  <div class="profile-data-title">CTO (Chief Technology Officer)</div>
              </div>
          </div>
          <div class="panel-body">
              <div class="contact-info">
                  <p><small>Graduação</small><br/>Sistemas de Informação.</p>
                  <p>
                    <small>Competências</small><br/>
                    Atua na produção de soluções inovadoras e sistemas complexos a mais de 10 anos. <br/>
                    Responsável por atuar com análises e projeções de sistemas, levantamentos de requisitos e regras de negócio.
                    Experiência em analisar custos, viabilidade técnica, econômica e financeira para a implantação de processos de automação.
                  </p>
                  <p><small>Email</small><br/>vinicius.braz@anvy.com.br</p>
              </div>
          </div>
      </div>
      <!-- END CONTACT ITEM -->
    </div>
</div>
</div>
</div>
