
<nav class="navbar navbar-expand-lg navbar-light bg-faded x-navigation x-navigation-horizontal x-navigation-panel header-title">

    <div id="navbarNavDropdown" class="navbar-collapse collapse">

        <ul class="navbar-nav header-title-text">
            <li class="nav-item">
                <h2><a href="/" style="border-bottom:0px; color:#3e4a61">LOGO</a></h2>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item float-right" translate>
                <a style="border-bottom:0px; color:#3e4a61">&nbsp;</a>
            </li>

            <li class="nav-item float-right" translate>
                <a href="/login" style="border-bottom:0px; color:#3e4a61">LOGIN</a>
            </li>

            <li class="nav-item float-right" translate>
                <a href="/contact" style="border-bottom:0px; color:#3e4a61">CONTATO</a>
            </li>

            <li class="nav-item float-right" translate>
                <a style="border-bottom:0px; color:#3e4a61">TIME</a>
            </li>

            <li class="nav-item float-right" translate>
                <a style="border-bottom:0px; color:#3e4a61">SOBRE</a>
            </li>


        </ul>
    </div>
</nav>
